src/main/xsd/server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:didata.com:api:cloud:types"
           xmlns:cloudapi="urn:didata.com:api:cloud:types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="1.0">

    <xs:include schemaLocation="general.xsd"/>

    <xs:element name="server" type="cloudapi:ServerType"/>

    <xs:element name="servers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server" type="cloudapi:ServerType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="cloudapi:PagedResultAttributes"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ServerType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="operatingSystem" type="cloudapi:OperatingSystemType"/>
            <xs:element name="cpu" type="cloudapi:CpuType"/>
            <xs:element name="memoryGb" type="xs:unsignedInt"/>
            <xs:element name="disk" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string" use="required"/>
                    <xs:attribute name="scsiId" type="xs:int" use="required"/>
                    <xs:attribute name="sizeGb" type="xs:int" use="required"/>
                    <xs:attribute name="speed" type="xs:string" use="required"/>
                    <xs:attribute name="state" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:choice>
                <xs:element name="nic">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="privateIpv4" type="xs:string" use="required"/>
                        <xs:attribute name="networkId" type="xs:string" use="required"/>
                        <xs:attribute name="networkName" type="xs:string" use="required"/>
                        <xs:attribute name="macAddress" type="xs:string"/>
                        <xs:attribute name="state" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="networkInfo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="primaryNic" type="cloudapi:NicType"/>
                            <xs:element name="additionalNic" type="cloudapi:NicType" minOccurs="0"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="networkDomainId" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element name="backup" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="assetId" type="xs:string"/>
                    <xs:attribute name="servicePlan" type="xs:string" use="required"/>
                    <xs:attribute name="state" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="monitoring" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="monitoringId" type="xs:string"/>
                    <xs:attribute name="servicePlan" type="xs:string" use="required"/>
                    <xs:attribute name="state" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="softwareLabel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sourceImageId" type="xs:string" minOccurs="0"/>
            <xs:element name="createTime" type="xs:dateTime"/>
            <xs:element name="deployed" type="xs:boolean"/>
            <xs:element name="started" type="xs:boolean"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="progress" type="cloudapi:ProgressType" minOccurs="0"/>
            <xs:element name="vmwareTools" type="cloudapi:VmwareToolsType" minOccurs="0"/>
            <xs:element name="virtualHardware" type="cloudapi:VirtualHardwareType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="datacenterId" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="NicType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="privateIpv4" type="xs:string" use="required"/>
        <xs:attribute name="ipv6" type="xs:string" use="required"/>
        <xs:attribute name="vlanId" type="xs:string" use="required"/>
        <xs:attribute name="vlanName" type="xs:string" use="required"/>
        <xs:attribute name="macAddress" type="xs:string"/>
        <xs:attribute name="state" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="deployServer" type="cloudapi:DeployServerType"/>

    <xs:complexType name="DeployServerType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="imageId" type="xs:string"/>
            <xs:element name="start" type="xs:boolean"/>
            <xs:element name="administratorPassword" type="xs:string" minOccurs="0"/>
            <xs:element name="cpu" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="speed" type="xs:string"/>
                    <xs:attribute name="count" type="xs:unsignedInt"/>
                    <xs:attribute name="coresPerSocket" type="xs:unsignedInt"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="memoryGb" type="xs:unsignedInt" minOccurs="0"/>
            <xs:choice>
                <xs:element name="network">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="networkId" type="xs:string"/>
                            <xs:element name="privateIpv4" type="xs:string"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="networkInfo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="primaryNic" type="cloudapi:VlanIdOrPrivateIpType"/>
                            <xs:element name="additionalNic" type="cloudapi:VlanIdOrPrivateIpType" minOccurs="0"
                                        maxOccurs="9"/>
                        </xs:sequence>
                        <xs:attribute name="networkDomainId" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element name="primaryDns" type="xs:string" minOccurs="0"/>
            <xs:element name="secondaryDns" type="xs:string" minOccurs="0"/>
            <xs:element name="disk" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="scsiId" type="xs:unsignedShort" use="required"/>
                    <xs:attribute name="speed" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="microsoftTimeZone" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VlanIdOrPrivateIpType">
        <xs:choice>
            <xs:element name="vlanId" type="xs:string"/>
            <xs:element name="privateIpv4" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <xs:element name="notifyNicIpChange" type="cloudapi:NotifyNicIpChangeType"/>

    <xs:complexType name="NotifyNicIpChangeType">
        <xs:sequence>
            <xs:element name="privateIpv4" type="xs:string" minOccurs="0"/>
            <xs:element name="ipv6" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="nicId" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="startServer" type="cloudapi:IdType"/>

    <xs:element name="shutdownServer" type="cloudapi:IdType"/>

    <xs:element name="powerOffServer" type="cloudapi:IdType"/>

    <xs:element name="rebootServer" type="cloudapi:IdType"/>

    <xs:element name="resetServer" type="cloudapi:IdType"/>

    <xs:element name="deleteServer" type="cloudapi:IdType"/>

    <xs:element name="cleanServer" type="cloudapi:IdType"/>

    <xs:element name="updateVmwareTools" type="cloudapi:IdType"/>

    <xs:element name="removeNic" type="cloudapi:IdType"/>

    <xs:complexType name="AddNicType">
        <xs:sequence>
            <xs:element name="serverId" type="xs:string"/>
            <xs:element name="nic" type="cloudapi:VlanIdOrPrivateIpType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="addNic" type="cloudapi:AddNicType"/>

    <xs:complexType name="EnableServerMonitoringType">
        <xs:sequence>
            <xs:element name="servicePlan" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="enableServerMonitoring" type="cloudapi:EnableServerMonitoringType"/>

    <xs:element name="disableServerMonitoring" type="cloudapi:IdType"/>

    <xs:complexType name="ChangeServerMonitoringPlanType">
        <xs:sequence>
            <xs:element name="servicePlan" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="changeServerMonitoringPlan" type="cloudapi:ChangeServerMonitoringPlanType"/>

    <xs:complexType name="AddLocalDiskType">
        <xs:sequence>
            <xs:element name="sizeGb" type="xs:int"/>
            <xs:element name="speed" type="xs:string" minOccurs="0"/>
            <xs:element name="scsiId" type="xs:int" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="addLocalDisk" type="cloudapi:AddLocalDiskType"/>

    <xs:element name="reconfigureServer" type="cloudapi:ReconfigureServerType"/>

    <xs:complexType name="ReconfigureServerType">
        <xs:sequence>
            <xs:element name="memoryGb" type="xs:unsignedInt" minOccurs="0"/>
            <xs:element name="cpuCount" type="xs:unsignedInt" minOccurs="0"/>
            <xs:element name="cpuSpeed" type="xs:string" minOccurs="0"/>
            <xs:element name="coresPerSocket" type="xs:unsignedInt" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="upgradeVirtualHardware" type="cloudapi:IdType"/>
</xs:schema>