src/main/xsd/snapshot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:didata.com:api:cloud:types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cloudapi="urn:didata.com:api:cloud:types"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="1.0">

    <xs:include schemaLocation="general.xsd"/>

    <xs:element name="initiateManualSnapshot" type="cloudapi:ServerIdType"/>

    <xs:element name="enableSnapshotService" type="cloudapi:EnableSnapshotServiceType"/>

    <xs:complexType name="EnableSnapshotServiceType">
        <xs:sequence>
            <xs:element name="servicePlan" type="xs:string"/>
            <xs:element name="windowId" type="xs:string"/>
            <xs:element name="initiateManualSnapshot" type="xs:boolean"/>
        </xs:sequence>
        <xs:attribute name="serverId" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="deleteManualSnapshot" type="cloudapi:IdType"/>

    <xs:element name="disableSnapshotService" type="cloudapi:ServerIdType"/>

    <xs:element name="createSnapshotPreviewServer" type="cloudapi:CreateSnapshotPreviewServerType"/>

    <xs:complexType name="CreateSnapshotPreviewServerType">
        <xs:sequence>
            <xs:element name="serverName" type="xs:string"/>
            <xs:element name="serverDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="targetClusterId" type="xs:string" minOccurs="0"/>
            <xs:element name="serverStarted" type="xs:boolean"/>
            <xs:element name="nicsConnected" type="xs:boolean"/>
            <xs:element name="preserveMacAddresses" type="xs:boolean" minOccurs="0"/>
            <xs:group ref="cloudapi:TagGroup" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="snapshotId" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="snapshot" type="cloudapi:SnapshotType"/>

    <xs:element name="snapshots">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="snapshot" type="cloudapi:SnapshotType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="cloudapi:PagedResultAttributes"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="SnapshotType">
        <xs:sequence>
            <xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="expiryTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="consistencyLevel" type="xs:string" minOccurs="0"/>
            <xs:element name="indexState" type="xs:string" minOccurs="0"/>
            <xs:element name="serverConfig" type="cloudapi:SnapshotServerConfigType" minOccurs="0"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="progress" type="cloudapi:ProgressType" minOccurs="0"/>
            <xs:element name="createTime" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="SnapshotServerConfigType">
        <xs:sequence>
            <xs:element name="cluster" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string" use="required"/>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="cpu">
                <xs:complexType>
                    <xs:attribute name="count" type="xs:unsignedInt"/>
                    <xs:attribute name="speed" type="xs:string"/>
                    <xs:attribute name="coresPerSocket" type="xs:unsignedInt"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="memoryGb" type="xs:unsignedInt"/>
            <xs:element name="scsiController" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="disk" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attributeGroup ref="cloudapi:SnapshotServerConfigDiskAttributeGroup"/>
                                <xs:attribute name="scsiId" type="xs:int"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="cloudapi:SnapshotServerConfigControllerAttributeGroup"/>
                    <xs:attribute name="busNumber" type="xs:int"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="sataController" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="device">
                                <xs:complexType>
                                    <xs:attributeGroup ref="cloudapi:SnapshotServerConfigDeviceAttributeGroup"/>
                                    <xs:attribute name="sataId" type="xs:int" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="disk">
                                <xs:complexType>
                                    <xs:attributeGroup ref="cloudapi:SnapshotServerConfigDiskAttributeGroup"/>
                                    <xs:attribute name="sataId" type="xs:int" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attributeGroup ref="cloudapi:SnapshotServerConfigControllerAttributeGroup"/>
                    <xs:attribute name="busNumber" type="xs:int" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ideController" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="device">
                                <xs:complexType>
                                    <xs:attributeGroup ref="cloudapi:SnapshotServerConfigDeviceAttributeGroup"/>
                                    <xs:attribute name="slot" type="xs:int"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="disk">
                                <xs:complexType>
                                    <xs:attributeGroup ref="cloudapi:SnapshotServerConfigDiskAttributeGroup"/>
                                    <xs:attribute name="slot" type="xs:int"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attributeGroup ref="cloudapi:SnapshotServerConfigControllerAttributeGroup"/>
                    <xs:attribute name="channel" type="xs:int"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="floppy" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string" use="required"/>
                    <xs:attribute name="driveNumber" type="xs:int" use="required"/>
                    <xs:attribute name="sizeGb" type="xs:int"/>
                    <xs:attribute name="fileName" type="xs:string"/>
                    <xs:attribute name="state" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="networkInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="primaryNic">
                            <xs:complexType>
                                <xs:attributeGroup ref="cloudapi:SnapshotServerConfigNicAttributeGroup"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="additionalNic" minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attributeGroup ref="cloudapi:SnapshotServerConfigNicAttributeGroup"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="networkDomainId" type="xs:string" use="required"/>
                    <xs:attribute name="networkDomainName" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="specialTrait" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="softwareLabel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="guest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operatingSystem">
                            <xs:complexType>
                                <xs:attribute name="id" type="xs:string" use="required"/>
                                <xs:attribute name="displayName" type="xs:string" use="required"/>
                                <xs:attribute name="family" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="osCustomization" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="virtualHardwareVersion" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:attributeGroup name="SnapshotServerConfigNicAttributeGroup">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="privateIpv4" type="xs:string" use="required"/>
        <xs:attribute name="ipv6" type="xs:string" use="required"/>
        <xs:attribute name="vlanId" type="xs:string" use="required"/>
        <xs:attribute name="vlanName" type="xs:string" use="required"/>
        <xs:attribute name="networkAdapter" type="xs:string" use="required"/>
        <xs:attribute name="connected" type="xs:boolean" use="required"/>
        <xs:attribute name="key" type="xs:int" use="required"/>
        <xs:attribute name="state" type="xs:string" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="SnapshotServerConfigDiskAttributeGroup">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="sizeGb" type="xs:int" use="required"/>
        <xs:attribute name="speed" type="xs:string" use="required"/>
        <xs:attribute name="iops" type="xs:int"/>
        <xs:attribute name="driveType" type="xs:string" use="required"/>
        <xs:attribute name="state" type="xs:string" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="SnapshotServerConfigControllerAttributeGroup">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="adapterType" type="xs:string" use="required"/>
        <xs:attribute name="state" type="xs:string" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="SnapshotServerConfigDeviceAttributeGroup">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="sizeGb" type="xs:int"/>
        <xs:attribute name="fileName" type="xs:string"/>
        <xs:attribute name="driveType" type="xs:string" use="required"/>
        <xs:attribute name="state" type="xs:string" use="required"/>
    </xs:attributeGroup>

    <xs:element name="migrateSnapshotPreviewServer" type="cloudapi:ServerIdType"/>

</xs:schema>